<div class="container-fluid" ng-cloak>

  <div class="row">

    <!--unselected data-->
    <div class="small-5 columns">
      <input placeholder="Search" type="text" class="form-control" ng-model="leftFilter"
             style="width: 100%; margin-bottom: 10px;"/>
      <select multiple ng-multiple="true" ng-model="leftSelected"
              ng-options="transformText(r) for r in leftListRowsModel | filter:leftFilter"
              style="overflow: auto;" ng-style="listCss"></select>
    </div>

    <!--navigation buttons-->
    <div class="small-2 columns text-center">
        <div>
          <button type="button" class="button tiny expand" ng-click="moveRightSelected()">
            <i class="fa fa-forward fa-fw"></i>
          </button>
        </div>
        <div class="text-center">
          <button type="button" class="button tiny expand" ng-click="moveRightAll()" ng-show="showAllButtons">
            <i class="fa fa-fast-forward fa-fw"></i>
          </button>
        </div>
        <div class="text-center">
          <button type="button" class="button tiny expand" ng-click="moveLeftSelected()">
            <i class="fa fa-backward fa-fw"></i>
          </button>
        </div>
        <div class="text-center">
          <button type="button" class="button tiny expand" ng-click="moveLeftAll()" ng-show="showAllButtons">
            <i class="fa fa-fast-backward fa-fw"></i>
          </button>
        </div>
    </div>

    <!--selected data-->
    <div class="small-5 columns">
      <input placeholder="Search" type="text" class="form-control" ng-model="rightFilter"
             style="width: 100%; margin-bottom: 10px;"/>

      <select multiple="multiple" ng-model="rightSelected"
              ng-options="transformText(r) for r in rightListRowsModel | filter:rightFilter"
              style="overflow: auto;" ng-style="listCss"></select>

    </div>
  </div>
</div>

